# Database Configuration
DB_URL=sqlite:///./wardrobe.db

# Server Configuration
HOST=0.0.0.0
PORT=8000
DEBUG=False

# Model Weight Paths
YOLO_WEIGHTS_PATH=weights/segmentation.pt
CLASSIFIER_WEIGHTS_PATH=weights/best_model_phase2 (3).keras
CLASSES_JSON_PATH=weights/classes_best_model_phase2.json
FASHION_RULES_PATH=rules/fashion_rules.json

# Inference Device
DEVICE=cpu
